.logo {
  display: inline-flex;
  align-items: baseline;
  gap: 2px;
  font-size: 30px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0;

  @include desktop {
    font-size: 18px;
  }

  &__text {
    color: $color-text;
  }

  &__accent {
    color: $color-accent;
    font-weight: 400;
  }
}
